# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Local logs
npm-debug.*
yarn-debug.*
yarn-error.*
expo_start_err.txt
expo_start_log.txt
dist-check/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Environment variables (add if created later)
.env
.env.local
